<!DOCTYPE html>
<html>
<head>
  	<div th:include="include/head"></div>
</head>
<head>
<title>新規従業員登録</title>
</head>
	<body>
 			<div th:include="include/header"></div>
 			<div class="container col-md-8 col-md-offset-2">
  	  				<div class="panel panel-primary">
	    					<div class="panel-heading">
	 	  							<h2 class="panel-title">従業員基本情報　新規作成フォーム</h2>
	    					</div>
	    					<div class="panel-body">
		  							<div class="col-xs-4 col-xs-offset-1 pull-right">
											<div class="panel panel-success">
 		  	 										<div class="panel-heading">
 															<h2 class="panel-title">現在の従業員数</h2>
 		  	  										</div>
			  										<div class="panel-body">
 		    												<p class="text-center" th:text="${activeEmployeesNumber}+人"></p>
 		  	  										</div>
 											</div>
 	  	  							</div>
		  							<form method="post" action="pointchange/">
		  									<div class="form-group col-xs-7">
			  										<label>従業員ID</label>
 	  		  										<p th:value="${NewEmployeeId}">[[${NewEmployeeId}]]</p>
 		  									</div>
		    								<div class="form-group col-xs-7">
			  										<label>氏名</label>
 	  		  										<input class="form-control" name="employee_name" type="text">
 		  									</div>
 		  									<div class="form-group col-xs-7">
			  										<label>氏名カナ</label>
 	  		  										<input class="form-control" name="employee_name_kana" type="text">
 		  									</div>
 		  									<div class="form-group col-xs-7">
 		  											<label>性別</label>
		 		  									<div class="form-check checkbox-inline">
															<input class="form-check-input" type="radio" name="sex" id="inlineRadio1" value="0">
													  		<label class="form-check-label" for="inlineRadio1">男性</label>
													</div>
													<div class="form-check checkbox-inline">
															<input class="form-check-input" type="radio" name="sex" id="inlineRadio2" value="1">
													  		<label class="form-check-label" for="inlineRadio2">女性</label>
													</div>
											</div>
		  									<div class="form-group col-xs-7">
	 		  										<label>生年月日</label>
											 	  	<input class="form-control" type="date" name="birthday" />
		  									</div>
		  									<div class="form-group col-xs-7">
			  										<label>電話番号</label>
 	  		  										<input class="form-control" name="phone" type="text">
 		  									</div>
 		  									<div class="form-group col-xs-7">
			  										<label>郵便番号</label>
 	  		  										<input class="form-control" name="postal" type="text">
 		  									</div>
 		  									<div class="form-group col-xs-7">
									 				<label>都道府県</label>
									 	  			<select class="form-control" name="prefecture">
															<option th:each="prefecture:${prefectures}" th:value="${prefecture}" th:text="${prefecture}">
											  		</select>
											</div>
											<div class="form-group col-xs-7">
			  										<label>住所１</label>
 	  		  										<input class="form-control" name="address1" type="text">
 		  									</div>
 		  									<div class="form-group col-xs-7">
			  										<label>住所２</label>
 	  		  										<input class="form-control" name="address2" type="text">
 		  									</div>
 		  									<div class="form-group col-xs-7">
	 		  										<label>入社日</label>
											 	  	<input class="form-control" type="date" name="hire_date" />
		  									</div>
		  									<div class="form-group col-xs-7">
	 		  										<label>退社日</label>
											 	  	<input id="quit_date_form" class="form-control" type="date" name="quit_date" disabled/>
											 	  	<input id="quitFlgCheck"  class="form-check-input" type="checkbox"  value="option1">
													<label class="form-check-label" for="quitFlgCheck">退社日を登録する</label>
		  									</div>
										    <div class="col-xs-4 col-xs-offset-4">
										  			<button class="btn btn-primary col-xs-12 center-block" type="submit">送信</button>
										  	</div>
	 	  							</form>
 	    					</div>
 	  				</div> 	
			</div>
			<div id="pass-popup" class="mfp-hide col-md-6 col-md-offset-3">
					<div class="panel panel-default">
	  						<div class="panel-heading">
									<b class="panel-title">登録情報の確認</b>
	  						</div>
	  						<div class="panel-body">
									<form action="" method="post">
		  									<div class="form-group">
													<label>従業員ID</label>
													<p id="employee_id"></p>
		  									</div>
		  									<div class="form-group">
													<label>新しいパスワード</label>
													<input class="form-control" type="password" name="password">
		  									</div>
		  									<div class="form-group">
													<label>新しいパスワード(確認用)</label>
													<input class="form-control" type="password" name="password">
		  									</div>
		    								<button class="btn" type="submit">更新</button>
									</form>
	  						</div>
					</div>
  			</div>
			<script>
					$(function(){
		
							$(document).on('change', '#quitFlgCheck', function(){
					        		if($("#quit_date_form").prop('disabled')){
					        				$("#quit_date_form").prop('disabled', false);
					        		} else {
					        			$("#quit_date_form").prop('disabled', true);
					        		}
					    	});
							
							$('#pass-pop').magnificPopup({
									type:'inline'
							});
							
							
					    
					});
			</script>
 	</body>
 </html>